.login {
    background-color: rgba(8, 8, 8, 0.600);
    box-shadow: 0 0 10px rgba(8, 8, 8);
    backdrop-filter: blur(10px);
    padding: 1em 0;
    border-radius: 10px;
    width: 30em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: new-frame 0.5s normal;
}