@import url("./information-panel.css");

.side-menu-space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
}

@keyframes open-side-menu {
    0% {
        position: relative;
        left: -100%;
    }
    100% {
        position: relative;
        left: 0;
    }
}

@keyframes close-side-menu {
    0% {
        position: relative;
        left: 0;
    }
    100% {
        position: relative;
        left: -100%;
    }
}

.side-menu {
    width: 25%;
    height: 100%;
    border-right: var(--size-border) solid var(--border-color);
    background-color: var(--panel-color);
    z-index: 22;
}

.open-side-menu {
    animation: open-side-menu 400ms ease;
}

.close-side-menu {
    animation: close-side-menu 500ms forwards ease;
}

.text-copyright {
    position: absolute;
    top: 90%;
}