@keyframes open-block {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes close-block {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

main {
  overflow-y: scroll;
}

.block-arrow-back {
  width: 100%;

  & p {
    font-size: 34pt;
    margin: 15px;
    padding: 0px 15px;
  }
}

& .green-text {
  color: lightgreen;
}

& .red-text {
  color: rgb(255, 63, 63);
}

& .yellow-text   {
  color: yellow;
}

.block-admin-panels {
  height: 80vh;

  & .block-menu-panel {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
  
    & .button-admin-panel {
      cursor: pointer;
      width: 200px;
      height: 200px;
      padding: 20px;
      border-radius: 10px;
      margin: 10px;
      transition: background-color 300ms ease, box-shadow 200ms ease, transform 30ms ease;
  
      &:hover {
        background-color: var(--icon-hover-bg);
        box-shadow: 0 0 10px var(--icon-hover-bg);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.display-none {
  display: none;
}

.open-block {
  animation: open-block 300ms normal ease;
}

.close-block {
  animation: close-block 200ms forwards normal ease;
}

.block-navigation {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
  user-select: none;

  & img {
    margin: 10px 20px;
    width: 60px; 
  }
}

.block-list-cards {
  width: 100%;
  min-height: 100px;

  & .image-plus:hover svg path {
    stroke: var(--button-hover-text-color) !important;
  }

  & .card {
    cursor: pointer;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 15px;
    border: 1px solid var(--border-color);
    user-select: none;
    overflow: auto;
    transition: box-shadow 200ms ease, background-color 300ms ease, border 200ms ease;

    &:hover {
      background-color: var(--card-hover-bg);
      box-shadow: 0 0 20px var(--card-hover-bg);
      color: var(--card-hover-color-text);
      border: none;
    }

    & p {
      width: 100%;
      max-height: 65%;
      white-space: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
    }

    & h3 {
      width: 100%;
      text-align: center;
    }
  }
}

.block-news {
  width: 100%;
  padding: 10px 50px;
}

.block-users {
  width: 100%;

  & .block-list-user {
    padding: 10px 50px;
    align-items: baseline;

    & .element-list {
      margin: 20px 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.block-form-add {
  width: 100%;
  padding: 10px 50px;
}
