.settings {
    height: 100%;
}

.block-settings-options {
    padding: 1%;
    border-right: 1px solid var(--border-color);
    height: 100%;
}

.block-settings {
    padding: 1%;
    height: 100%;
    padding: 2%;
}

.option {
    border-radius: 5px;
    text-align: center;
    transition: background-color 200ms ease, opacity 100ms ease;
    margin: 2% 0;
    padding: 1% 0;
    user-select: none;
    cursor: pointer;
}

.option:hover {
    background-color: var(--icon-hover-color);
}

.option:active {
    opacity: 0.5;
}

.input-color {
    border: none;
    width: 100px;
    margin: 0 1%;
}

.color-option {
    margin: 2% 0;
}

.theme {
    width: 50%;
    margin: 0 2%;
    height: 80%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms ease, transform 50ms ease;
}

.theme:hover {
    background-color: var(--icon-hover-color);
}

.theme:active {
    transform: scale(0.95);
}

.icon-theme {
    width: 100px;
}

.background {
    width: 50%;
    margin: 0 2%;
    height: 80%;
    border-radius: 5px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: box-shadow 250ms ease, transform 50ms ease;
}

.background:hover {
    box-shadow: 0 0 10px var(--icon-hover-color);
}

.background:active {
    transform: scale(0.95);
}

.background-1 {
    background-image: url("/public/assets/background/background-1.png");
}

.background-2 {
    background-image: url("/public/assets/background/background-2.jpg");
}

#animation-speed input {
    width: 100px;
    margin: 0 2%;
}

@media (max-width: 720px) {
    .block-settings-options {
        width: 100%;
        border-right: none;
        font-size: 14pt;
    }
    
    .block-settings {
        display: none;
        width: 100%;
    }

    .theme {
        height: 50%;
    } 

    #background {
        flex-direction: column;
    }

    .background {
        width: 90%;
        margin: 2% 0;
    } 
}