.border {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.accent-border {
    transition: border-color 400ms ease;
}

.accent-border:hover {
    border-color: var(--accent-color);
}