@keyframes form {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    /* animation: form 700ms ease; */
}

input {
    margin: 30px 0;
    width: 450px;
    height: 40px;
    color: var(--text-color);
    outline: none;
    background: none;
    border: none;
    border-bottom: var(--size-border) solid var(--border-color);
    font-size: 14pt;
    transition: border-color 300ms ease, border-bottom 300ms ease, color 200ms ease;
    transition: border 200ms ease;
}

input:focus {
    border-color: var(--accent-color);
}

.error-input {
    border-bottom: var(--size-border) solid red !important;
    transition: border-bottom 500ms ease, color 300ms ease, text-shadow 200ms ease !important;
}

.error-input::placeholder {
    color: red;
}

textarea {
    margin: 30px 0;
    padding: 10px;
    width: 90%;
    height: 300px;
    border-radius: 5px;
    outline: none;
    background: none;
    border: none;
    border: var(--size-border) solid var(--border-color);
    font-size: 14pt;
    transition: border-color 300ms ease;
}

textarea:focus {
    border-color: var(--accent-color);
}

.input-label {
    text-align: left;
}

.input-label input {
    width: 72%;
    margin: 30px 15px;
}

@media (max-width: 720px) {
    form {
        width: 100%;
    }

    input {
        width: 100%;
    }
}