.logo {
    width: 200px;
    cursor: pointer;
}

.body-background-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/public/assets/background/background-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-background-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/public/assets/background/background-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-in-chat {
    width: 550px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin: 2%;
}

@media (max-width: 720px) {
    .logo {
        width: 150px;
    }

    .image-in-chat {
        width: 250px;
        height: 200px;
    }
}