@import url("./color-theme.css");
@import url("./screen-saver.css");
@import url("./module.css");
@import url("./flex.css");
@import url("./border.css");
@import url("./form.css");
@import url("./image.css");
@import url("./text.css");
@import url("./container-width.css");
@import url("./button.css");
@import url("./notification.css");
@import url("./modal-window.css");
@import url("./submodule.css");

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: monospace;
    font-size: 14pt;
    background-color: var(--body-color);
    transition: background-color 200ms ease, color 200ms ease;
}

main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
