@keyframes snow-black-space {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide-black-space {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.black-space {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    backdrop-filter: blur(5px);
    z-index: 21;
}

.snow-black-space {
    animation: snow-black-space 500ms ease;
}

.hide-black-space {
    animation: hide-black-space 500ms forwards ease;
}

.submodule-space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

@keyframes show-submodule {
    0% {
        opacity: 0;
        transform: translateY(-50%) translateX(-50%) scale(0.5);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-50%) translateX(-50%) scale(1.05);
    }
    70% {
        opacity: 0.8;
        transform: translateY(-50%) translateX(-50%) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) translateX(-50%) scale(1);
    }
}

@keyframes hide-submodule {
    0% {
        opacity: 1;
        transform: translateY(-50%) translateX(-50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-50%) translateX(-50%) scale(0.5);
    }
}

.submodule {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 22;
    background-color: var(--body-color);
    padding: 1%;
    max-width: 50%;
    min-width: 485px;
    border: var(--size-border) solid var(--border-color);
    border-radius: 5px;
}

.show-submodule {
    animation: show-submodule 600ms ease;
    transform-origin: center;
}

.hide-submodule {
    animation: hide-submodule 200ms forwards ease;
    transform-origin: center;
}