h1, h2, h3, h4, h5, h6, p {
  color: var(--text-color);
}

.link {
    cursor: pointer;
    text-decoration: underline;
    transition: color 300ms normal ease;
    margin: 20px 10px;
    color: var(--text-color);
}

.link:hover {
    color: var(--accent-color);
}

.text-error {
  color: red;
  text-shadow: 0 0 10px red;
  animation: text-error 500ms normal ease;
}

& .green-text {
  color: lightgreen;
}

& .red-text {
  color: rgb(255, 63, 63);
}

& .yellow-text   {
  color: yellow;
}