.button-default {
  border: 1px solid var(--border-color);
  background: none;
  user-select: none;
  border-radius: 5px;
  padding: 15px 35px;
  margin: 20px 10px;
  font-size: 14pt;
  cursor: pointer;
  transition: background-color 300ms ease, color 400ms ease, transform 50ms ease, box-shadow 100ms ease, border-color 300ms ease;

  &:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text-color);
    border-color: var(--button-hover-border-color);
    box-shadow: 0 0 15px var(--button-hover-bg);
  }

  &:active {
    transform: scale(0.9);
  }
}

.button-delete:hover {
    background-color: red !important;
    color: white !important;
    border-color: red !important;
    box-shadow: 0 0 15px red !important;
}

.icon-button {
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 200ms normal ease, transform 50ms normal ease;

  &:hover {
    color: var(--text-color);
    background-color: var(--icon-hover-bg);
  }

  &:active {
    transform: scale(0.9);
  }
}